site_name: Business Automation Handson
plugins:
  - glightbox
theme:
  font:
    text: IBM Plex Sans JP
  palette: 

    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
        
  name: material
  features:
    - navigation.sections
    - navigation.tabs
    - navigation.sections
    - content.code.copy
    - toc.integrate
nav:
#- Agenda: agenda.md
- watsonx Orchestrate Agentic:
  - はじめに: wxoagent/index.md
  - Lab0 intro: wxoagent/intro.md
  - Lab1 agent: wxoagent/agent.md
  - Lab2 tool: wxoagent/tool.md
  - Lab3 flow: wxoagent/flow.md
  - Lab4 prebuild jira: wxoagent/prebuild.md
  - Lab4 prebuild box: wxoagent/prebuild-box.md
  - Lab5 multiagents: wxoagent/multi.md

- watsonx Orchestrate Usecase:
  - はじめに: wxo_usecase/index.md
  - 人事シナリオ: wxo_usecase/hr.md
  - 営業シナリオ: wxo_usecase/sales.md
  - IT運用シナリオ: wxo_usecase/it.md
  
- watsonx Orchestrate ADK:
  - はじめに: wxo_adk/index.md
  - install: wxo_adk/install.md
  - env: wxo_adk/environments.md
  - agent: wxo_adk/agents.md
  - tool: wxo_adk/tools.md
  - langfuse: wxo_adk/langfuse.md
  - autotune: wxo_adk/autotune.md
  
extra_css:
  - stylesheets/extra.css

extra:
  generator: false


markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - pymdownx.details